.hide-pointer{
	cursor: none !important;
}

#display-pointer{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
	height: 20px;
	width: 20px;
	border-radius: 50%;
  display: inline-block;
	background-color: red;
}

.display-trace{
	position: absolute;
	z-index: 3;
	height: 2px;
	width: 0px;
  display: inline-block;
	background-color: red;
}